<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Manager Login</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Swal -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet"/>
        <!-- Custom fonts for this template -->
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"> -->
        <!-- <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"> -->

        <link href="https://fonts.googleapis.com/css?family=Bitter|Bree+Serif|Merriweather|Roboto" rel="stylesheet">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- Customer CSS -->
        <link href="../styles/style.css" rel="stylesheet">
    </head>

    <body">
        <div id="manager-alerts"></div>
        <div id="employee-login-view">
            <!-- Nav tabs -->
            <nav class="navbar navbar-expand-sm navbar-dark">
                    <button id="img-dropdown-button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <!--<img id="img-thumbnail" src="../images/P1Icons/box-icon-white.png">-->
                    </button>
                    <button id="img-collapse-button" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
                        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavId">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item dropdown active">
                                <a class="dropdown-toggle" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                </a>
                                <div class="dropdown-menu pull-left" aria-labelledby="dropdownId">
                                    <ul style="list-style:nonex" id='dropdown-list'>
                                        <li class="nav-item active">
                                            <form action="../NewReimbursement" method="post" enctype="multipart/form-data">
                                                <label for="goto_all_reimbursements" class="nav-label" >Valid Expenses</label>
                                                <button id="goto_all_reimbursements" name="goto_all_reimbursements" class="nav-link" type="submit" disabled>
                                            </form>
                                        </li>
                                        <li class="nav-item active">
                                            <form action="../NewReimbursement" method="GET" enctype="multipart/form-data">
                                                <label for="submit_new_reimbursement" class="nav-label">Contact Administrator</label>
                                                <button id="submit_new_reimbursement" name="submit_new_reimbursement" class="nav-link" type="submit" disabled>
                                            </form>
                                        </li>
                                        <li class="nav-item active">
                                            <form action="../EmployeeLogin" method="post" enctype="multipart/form-data">
                                                <label for="about" class="nav-label">About</label>
                                                <button id="about" name="about" class="nav-link" type="submit" disabled>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </li>
       
                            <li class="nav-item">
                                <form action="../ManagerLogin" method="post" enctype="multipart/form-data">
                                    <label for="logout" class="nav-label" style="margin-left:10px">Logout</label>
                                    <button id="logout" name="logout" class="nav-link" type="submit">
                                </form>
                            </li>
                            <li class="nav-item active last-child">
                                <form action="../EmployeeLogin" method="post" enctype="multipart/form-data">
                                    <label for="employee_login" class="nav-label">Submit A Ticket</label>
                                    <button id="employee_login" name="employee_login" class="nav-link" type="submit" disabled>
                                </form>
                            </li>

                    </ul style="float:right">
                    <form class="search-form" action="https://google.com/search" method="get">
                        <div class="input-group">

                            <input type="hidden" name="sitesearch" value="" />
                            <input type="text" class="form-control search-input" name="q">

                            <div class="input-group-btn">
                                <button class="search-btn btn mr-sm-2" type="submit">Submit<i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </nav>
        
            <div class="jumbotron-fluid text-center manager-table-view" id="employee-login-form-container">
				<div class="manager-table-view fluid-container">
					<h1 class="text-center" style="padding-bottom: 5px">Select Employee</h1>
					<form action="../ManagerResolve" method="get" enctype="multipart/form-data">
						<table class="tablelistjs" id="entries">
							<thead>
								<tr class="column-headers">
									<td width='150px' class="column-headers">Employee ID</td>
									<td width='150px' class="column-headers">Username</td>
									<td width='150px' class="column-headers">First Name</td>
									<td width='150px' class="column-headers">Last Name</td>
									<td width='150px' class="column-headers">Number Of Reimbursements</td>
								</tr>
							</thead>
							<tbody>
								
							</tbody>
						</table>
						<br>
					
						<div class="table-buttons" style="margin-bottom:5px">
							<button name="edit_selected_id" class="btn btn-light" id="edit_selected_id" type=submit tabindex="2">
								Edit
							</button>
							<button name="view_selected_id" class="btn btn-light" id="view_selected_id" onclick="postSelected()" tabindex="3">
								View Reimbursements
							</button>
						</div>
					</form>
				</div>
            </div>
        </div>
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
        <script src="../js/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
        <script src="../js/manager_select.js"></script>
    </body>
</html>