<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>EmployeeLogin</display-name>
    <servlet-name>EmployeeLogin</servlet-name>
    <servlet-class>com.servlets.EmployeeLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLogin</servlet-name>
    <url-pattern>/EmployeeLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewReimbursement</display-name>
    <servlet-name>NewReimbursement</servlet-name>
    <servlet-class>com.servlets.NewReimbursement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewReimbursement</servlet-name>
    <url-pattern>/NewReimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllReimbursements</display-name>
    <servlet-name>AllReimbursements</servlet-name>
    <servlet-class>com.servlets.AllReimbursements</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllReimbursements</servlet-name>
    <url-pattern>/AllReimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerLogin</display-name>
    <servlet-name>ManagerLogin</servlet-name>
    <servlet-class>com.servlets.ManagerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerLogin</servlet-name>
    <url-pattern>/ManagerLogin</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ManagerSelect</display-name>
    <servlet-name>ManagerSelect</servlet-name>
    <servlet-class>com.servlets.ManagerSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerSelect</servlet-name>
    <url-pattern>/ManagerSelect</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ManagerResolve</display-name>
    <servlet-name>ManagerResolve</servlet-name>
    <servlet-class>com.servlets.ManagerResolve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerResolve</servlet-name>
    <url-pattern>/ManagerResolve</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>//views//employee_login.html</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>//views//404.html</location>
  </error-page>
</web-app>