@import url('bootstrap.min.css');

/* HTML TAGS */

body {
    background: url("../images/explorer_mountains_cropped.jpg") no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-family: 'Bree Serif', serif;
    font-display: white;

    color: white;
}

/* NAV BAR */

.navbar {
    background-color: rgba(47, 133, 167, 0.966);
    padding: .5rem 1rem;
}
.nav-item{
    padding: 4px 6px 4px 4px;
    color:white;
}
.nav-item button[type="submit"]{
    display: none;
}
.nav-link {
    background:transparent; 
    border-color:transparent;
    color: white;
    margin-left: -15px;
}
.nav-label{
    margin-left: 15px;
}
.nav-item:hover{
    color:rgb(134, 218, 252);
}

#img-collapse-button{
    background-color: rgba(47, 133, 167, 0.966);
    border: none;
    margin-right:-10px;
    background-image:url('../images/P1Icons/box-icon-white.png');
    background-repeat:no-repeat;
    background-size: 47px;
    height: 47px;
    width: 47px;
    margin-top: -5px;
    margin-bottom: -5px;
    margin-left: -10px;
    margin-right: 0px;
}
#img-dropdown-button{
    background-color: rgba(47, 133, 167, 0.966);
    border: none;
    margin-right:-10px;
    background-image:url('../images/P1Icons/box-icon-white.png');
    background-repeat:no-repeat;
    background-size: 47px;
    height: 47px;
    width: 47px;
    margin-top: -5px;
    margin-bottom: -5px;
    margin-left: -10px;
    margin-right: 0px;
}
#img-collapse-button{
    display:none;
}
#img-button:focus {
    outline:0;
}

#img-thumbnail{
    background-color: rgba(47, 133, 167, 0.966);
    border: none;
    border-radius: 4px;  
    padding: 0px; 
    height:45px;
    width:45px;
}
.dropdown-menu{
    width: 325px;
    left: -100px;
    background-color: rgba(47, 133, 167, 0.866);
    color:white;
    margin-top: 10px;
    margin-right: 100px;
}
/*
#thumbnail{
    border: 1px solid #ddd;
    border-radius: 4px;  
    padding: 0px; 
    height: 5%;
    width: 50px; 
}
*/
.dropdown-toggle::after {
    display:none;
}
.dropdown-header {
    background: rgba(5, 58, 78, 0.247);
    border-color:transparent;
    color: white;
    padding-bottom: 5px;
}

@media (min-width : 575px) {
    .navbar-expand-sm {
        padding-bottom: 4px;
        
        margin-top: -5px;
        margin-bottom: 0px;
    }
}
@media (min-width : 991px) {
    .navbar-expand-sm {
        margin-top: -2px; 
        margin-bottom: 8px; 
    }
    .navbar{
        padding-top: -2px;
        padding-bottom: 6px; 
    }
    .nav-item{
        padding-top: 7px;
        padding-bottom: -7px;
    }
}
@media (max-width : 577px) {
    .li-even {
        padding:0px 0px 10px 10px;
        margin:5px 10px 0px 0px;
        background: rgba(23, 153, 204, 0.966);
    }
    .li-odd {
        padding:0px 0px 10px 10px;
        margin:5px 10px 0px 0px;
        background: rgba(62, 186, 235, 0.966);
    }
    .search-form {
        margin: 5px -16px 5px 1px;
    }
    .search-btn {
        background: rgba(62, 186, 235, 0.966);
    }
    #img-collapse-button {
        display:block;
    }
    #img-dropdown-button {
        display:none;
    }
}
a{
    color:white;
    text-decoration: none;
}
a:hover {
    color:rgb(134, 218, 252);
    text-decoration: none;
}
.search-input {
    max-width: 80%;
}

.search-btn {
    background-color: rgba(47, 133, 167, 0.966);
    color: white;
}

.search-btn:hover {
    background-color: rgba(52, 129, 230, 0.966);
}

.search-btn:active {
    background-color: rgba(52, 129, 230, 0.966);
}


 /* Popup container */
 
.popover.show{
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}
.popover.fadeOut{
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s
}
.popover-btn{
    display:none;
}
.popover-body{
     background: rgba(255, 255, 255, 0.1);
     color: rgba(52, 129, 230, 0.966);
     font-size: 21px;
     font-family: 'Bree Serif', serif;
     -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
        box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    -webkit-background-clip: padding-box;
        background-clip: padding-box;
    text-align:center;
    width: 220px;
    padding-bottom: 10px;
}
 #popup {
    visibility: hidden;
    padding-top: 55px;
    padding-right: 30px;
    border:none;
    z-index: 1;
}
  
/* Add animation (fade in the popup) */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
/* Add animation (fade out the popup) */
@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity:0 ;}
}
/* Add animation (fade out the popup) */
@-webkit-keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}
  /* The actual popup (appears on top) */

  /*
  .popup .popuptext {
    visibility: visible;
    width: 400px;
    background-color: rgba(85, 85, 85, 0.479);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
  }
  */

  /* Popup arrow */
  /*
  .popup .popuptext::before {
    content: "";
    position: absolute;
    left: 50px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  */
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  /*
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  */
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  } 


/* CUSTOMER LOGIN */

.employee-login-view {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;

    background-color: #f5f5f5;
}

.jumbotron-fluid.employee-login {
    margin: 0;
    padding: 0;
}

.employee-login.container {

    margin-top: 120px;
    margin-bottom: 120px;

    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
    padding-bottom: 50px;

    height: 425px;
    
	min-width: 475px;
    max-width: 575px;
    
    background-color: rgba(47, 133, 167, 0.6);
}
.form-signin {
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
}

.form-signin .checkbox {
    transform: scale(1.2);
    font-size: 90%;
    font-weight: 575;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.submit-btn {
    background-color: rgba(47, 133, 167, 0.966);
    color: white;
}

.submit-btn:hover {
    background-color: rgba(52, 129, 230, 0.966);
}

.submit-btn:active {
    background-color: rgba(47, 133, 167, 0.966);
}

/* REIMBURSEMENT VIEW */

.jumbotron-fluid.reimbursement-view {
    color: white;
    margin-top: 40px;
    margin-bottom: 60px;

    padding-top: 30px;
    padding-bottom: 10px;

    height: 100%;
    width: 100%;
    min-width: 425px;

    background-color: rgba(47, 133, 167, 0.0);
}

.container.reimbursement-view {
    display: inline-block;

    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
    padding-bottom: 50px;

    width: 60%;
    min-width: 425px;
    max-width: 750px;

    background-color: rgba(47, 133, 167, 0.6);
}

.reimbursement-form.form-control {
    margin-top: 12px;
}
.reimbursement-form.last-child {
    margin: 100px;
}

#img-upload {
    width: 100%;
    height: auto;
}
input[type="file"]{
    display: none;
}
.custom-file-upload {
    border: 1.8px solid white;
    display: inline-block;
    padding: 8.5px 26.5px;
    margin-top: -8px;
    margin-bottom: 16px;
    cursor: pointer;
    
    /* Firefox and Edge Settings will mess stuff up... */
    -webkit-user-select: none; /* Safari */
    user-select: none; /* Standard */
    
    transform: scale(1.0);
}

/* ALL REIMBURSEMENTS */

.jumbotron-fluid.wrapper {
    margin-top: 20px;
    margin-bottom: 20px;

    height: 100%;
    width: 100%;

    background-color: rgba(47, 133, 167, 0.0);
}

.all-reimbursements-view.container.outer {
    display: inline-block;

    padding: 20px 2.5% 10px 2.5%;

    /* max-width: 1386px; */
    width: 100%;

    background-color: rgba(47, 133, 167, 0.6);
}

.container-fluid.title-container{
    background: rgba(5, 58, 78, 0.247);
    height: 55px;
    margin-bottom: 20px;
}

.container-fluid.card-container{
    width:100%;
    padding: 0 0 0 0;
    margin-bottom: 15px;
}

#reimbursement-cards{
    width:100%;
    background: rgba(5, 58, 78, 0.4);
    padding: 3px 1px 3px 1px;
}
.row{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 0 2.5px 2px 2.5px;
    margin: 0;
}
.col-sm-6{
    padding-left: 0.5px;
    padding-right: 0.5px;
    /*
    padding-left: 0.5px;
    padding-right: 0.5px;
    */
}
.card{
    width:100%;
    border-radius: 0;
    background: white center no-repeat;
    background-size: cover;
    border: none;
    height: 20rem;
}
h4.card-header {
    padding-bottom: 7.5px;
}
.card-img-bottom {
    color: #fff;
    height: 20rem;
    border: none;
    background: white center no-repeat;
    background-size: cover;
}


.grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 5px;
    background-color: rgba(47, 133, 167, 0.5); 
    padding: 5px 5px 0 5px;
}  

.grid-container.last{
    padding: 5px 5px 5px 5px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    font-size: 20px;
    padding: 2.5px 2.5px 0 2.5px;
    height: 40px;
}
.grid-container > div.last {
    padding: 2.5px 2.5px 2.5px 2.5px;
    margin-bottom: 30px;
}

div.last.item2{
    height: 140px;
    margin-bottom: 0px;
    background: rgba(255, 255, 255, 0.8);
}

.column-text{
    padding: 0 0 0 5px;
    color:rgba(12, 84, 112, 0.966);
    text-decoration: underline;
    text-decoration-color:rgba(47, 133, 167, 0.966); 
}
.value-text{
    color:rgba(47, 133, 167, 0.966); 
    text-decoration: none;
}
@media (max-width : 767px){
    #all-reimbursements-title {
        font-size: 35px;
    }
    .container-fluid.title-container{
        padding-bottom: 20px;
    }
}

/* MANAGER SELECT */

.jumbotron-fluid.manager-table-view {
    margin-top: 50px;
    margin-bottom: 50px;

    height: 100%;
    width: 100%;

    background-color: rgba(47, 133, 167, 0.0);
}

.manager-table-view.fluid-container {
    display: inline-block;

    padding: 20px 2.5% 20px 2.5%;

    align-content:center;
    
    /* max-width: 1386px; */
    width: 80%;
    min-width: 500px;
    height: 585px;

    background-color:rgba(47, 133, 167, 0.6);
}
table {
    display: inline-block;
    background-color: rgba(12, 84, 112, 0.966);
    width: auto;
    min-width: 450px;
    height: 400px;
    overflow: auto;
}
tbody {
    background-color: #fff;
    color: black;
    width: 100%;
    min-width: 450px;
    height: 400px;
    overflow: auto;
}
td {
    padding: 4px 10px;
    color: black;
}
.column-headers{
    color: white;
    overflow: none;
}
tr {
    color: black;
    width: 100%;
}
#column-headers > td{
    color: white;
}

thead > tr, tbody{ 
    width: 100%;
}
 
#entries tr.clicked { 
    background: rgb(47, 187, 187); 
}
#entries tr.highlight { 
    background: rgb(43, 156, 160); 
}
.table-buttons{
    padding-top: 20px;
}
#edit_selected_id, #view_selected_id {
    border: 1.5px solid white;
    background: rgba(47, 133, 167, 0.966);
    color: white;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
        box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    font-size: 20px;
    padding-top: 10px;
}

/* MANAGER RESOLVE */

/*
.jumbotron-fluid.wrapper {
    margin-top: 20px;
    margin-bottom: 20px;

    height: 100%;
    width: 100%;

    background-color: rgba(47, 133, 167, 0.0);
}
*/

.manager-all-reimbursements-view.container.outer {
    display: inline-block;

    padding: 20px 2.5% 10px 2.5%;

    /* max-width: 1386px; */
    width: 100%;

    background-color: rgba(47, 133, 167, 0.6);
}

.container-fluid.manager-title-container{
    background: rgba(5, 58, 78, 0.247);
    height: 55px;
    margin-bottom: 20px;
}

.container-fluid.manager-card-container{
    width:100%;
    padding: 0 0 0 0;
    margin-bottom: 15px;
}

#manager-reimbursement-cards{
    width:100%;
    background: rgba(5, 58, 78, 0.4);
    padding: 3px 1px 3px 1px;
}
.row{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 0 2.5px 2px 2.5px;
    margin: 0;
}
.col-sm-6{
    padding-left: 0.5px;
    padding-right: 0.5px;
    /*
    padding-left: 0.5px;
    padding-right: 0.5px;
    */
}
.manager-card{
    width:100%;
    border-radius: 0;
    background: white center no-repeat;
    background-size: cover;
    border: none;
    height: 20rem;
}
/*
h4.card-header {
    padding-bottom: 7.5px;
}
.card-img-bottom {
    color: #fff;
    height: 20rem;
    border: none;
    background: white center no-repeat;
    background-size: cover;
}


.grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 5px;
    background-color: rgba(47, 133, 167, 0.5); 
    padding: 5px 5px 0 5px;
}  

.grid-container.last{
    padding: 5px 5px 5px 5px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    font-size: 20px;
    padding: 2.5px 2.5px 0 2.5px;
    height: 40px;
}
.grid-container > div.last {
    padding: 2.5px 2.5px 2.5px 2.5px;
    margin-bottom: 30px;
}

div.last.item2{
    height: 140px;
    margin-bottom: 0px;
    background: rgba(255, 255, 255, 0.8);
}

.column-text{
    padding: 0 0 0 5px;
    color:rgba(12, 84, 112, 0.966);
    text-decoration: underline;
    text-decoration-color:rgba(47, 133, 167, 0.966); 
}
.value-text{
    color:rgba(47, 133, 167, 0.966); 
    text-decoration: none;
}
*/
@media (max-width : 767px){
    #manager-all-reimbursements-title {
        font-size: 35px;
    }
    .container-fluid.manager-title-container{
        padding-bottom: 20px;
    }
}

.card-btns {
    float: center;
    width: 100%;
}


