@import url('bootstrap.min.css');

/* HTML TAGS */

body {
    background: url("../images/explorer_mountains_cropped.jpg") no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-family: 'Bree Serif', serif;
    font-display: white;

    color: white;
}

/* NAV BAR */

.navbar {
    background-color: rgba(47, 133, 167, 0.966);
    padding: .5rem 1rem;
}
.nav-item{
    padding: 6px 9px 1px 6px;
    color:white;
}
.nav-item button[type="submit"]{
    display: none;
}
.nav-link {
    background:transparent; 
    border-color:transparent;
    color: white;
}

#img-collapse-button{
    background-color: rgba(47, 133, 167, 0.966);
    border: none;
    margin-right:-10px;
    background-image:url('../images/P1Icons/box-icon-white.png');
    background-repeat:no-repeat;
    background-size: 47px;
    height: 47px;
    width: 47px;
    margin-top: -5px;
    margin-bottom: -5px;
    margin-left: -10px;
    margin-right: 0px;
}
#img-dropdown-button{
    background-color: rgba(47, 133, 167, 0.966);
    border: none;
    margin-right:-10px;
    background-image:url('../images/P1Icons/box-icon-white.png');
    background-repeat:no-repeat;
    background-size: 47px;
    height: 47px;
    width: 47px;
    margin-top: -5px;
    margin-bottom: -5px;
    margin-left: -10px;
    margin-right: 0px;
}
#img-collapse-button{
    display:none;
}
#img-button:focus {
    outline:0;
}

#img-thumbnail{
    background-color: rgba(47, 133, 167, 0.966);
    border: none;
    border-radius: 4px;  
    padding: 0px; 
    height:45px;
    width:45px;
}
.dropdown-menu{
    width: 325px;
    left: -100px;
    background-color: rgba(47, 133, 167, 0.966);
    color:white;
    margin-top: 10px;
    margin-right: 100px;
}
/*
#thumbnail{
    border: 1px solid #ddd;
    border-radius: 4px;  
    padding: 0px; 
    height: 5%;
    width: 50px; 
}
*/
.dropdown-toggle::after {
    display:none;
}

@media (min-width : 575px) {
    .navbar-expand-sm {
        padding-bottom: 4px;
        margin-top: -5px;
        margin-bottom: 0px;
    }
}
@media (min-width : 991px) {
    .navbar-expand-sm {
        margin-top: -2px; 
        margin-bottom: 8px; 
    }
    .navbar{
        padding-top: -2px;
        padding-bottom: 8px; 
    }
}
@media (max-width : 577px) {
    .navbar{

    }
    .li-even {
        padding:0px 0px 10px 10px;
        margin:5px 10px 0px 0px;
        background: rgba(23, 153, 204, 0.966);
    }
    .li-odd {
        padding:0px 0px 10px 10px;
        margin:5px 10px 0px 0px;
        background: rgba(62, 186, 235, 0.966);
    }
    .search-form {
        margin: 5px -16px 5px 1px;
    }
    .search-btn {
        background: rgba(62, 186, 235, 0.966);
    }
    #img-collapse-button {
        display:block;
    }
    #img-dropdown-button {
        display:none;
    }
}
a{
    color:white;
    text-decoration: none;
}
.search-input {
    max-width: 80%;
}

.search-btn {
    background-color: rgba(47, 133, 167, 0.966);
    color: white;
}

.search-btn:hover {
    background-color: rgba(52, 129, 230, 0.966);
}

.search-btn:active {
    background-color: rgba(52, 129, 230, 0.966);
}

/* CUSTOMER LOGIN */

.employee-login-view {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;

    background-color: #f5f5f5;
}

.jumbotron-fluid.employee-login {
    margin: 0;
    padding: 0;
}

.employee-login.container {

    margin-top: 120px;
    margin-bottom: 120px;

    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
    padding-bottom: 50px;

    height: 425px;
    
	min-width: 475px;
    max-width: 575px;
    
    background-color: rgba(47, 133, 167, 0.6);
}
.form-signin {
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
}

.form-signin .checkbox {
    transform: scale(1.2);
    font-size: 90%;
    font-weight: 575;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.submit-btn {
    background-color: rgba(47, 133, 167, 0.966);
    color: white;
}

.submit-btn:hover {
    background-color: rgba(52, 129, 230, 0.966);
}

.submit-btn:active {
    background-color: rgba(47, 133, 167, 0.966);
}

/* REIMBURSEMENT VIEW */

.jumbotron-fluid.reimbursement-view {
    color: white;
    margin-top: 40px;
    margin-bottom: 60px;

    padding-top: 30px;
    padding-bottom: 10px;

    height: 100%;
    width: 100%;
    min-width: 425px;

    background-color: rgba(47, 133, 167, 0.0);
}

.container.reimbursement-view {
    display: inline-block;

    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
    padding-bottom: 50px;

    width: 60%;
    min-width: 425px;
    max-width: 750px;

    background-color: rgba(47, 133, 167, 0.6);
}

.reimbursement-form.form-control {
    margin-top: 12px;
}
.reimbursement-form.last-child {
    margin: 100px;
}

#img-upload {
    width: 100%;
    height: auto;
}
input[type="file"]{
    display: none;
}
.custom-file-upload {
    border: 1.8px solid white;
    display: inline-block;
    padding: 8.5px 26.5px;
    margin-top: -8px;
    margin-bottom: 16px;
    cursor: pointer;
    
    /* Firefox and Edge Settings will mess stuff up... */
    -webkit-user-select: none; /* Safari */
    user-select: none; /* Standard */
    
    transform: scale(1.0);
}

/* ALL REIMBURSEMENTS */

.jumbotron-fluid.wrapper {
    margin-top: 20px;
    margin-bottom: 20px;

    height: 100%;
    width: 100%;

    background-color: rgba(47, 133, 167, 0.0);
}

.all-reimbursements-view.container.outer {
    display: inline-block;

    padding: 20px 2.5% 10px 2.5%;

    /* max-width: 1386px; */

    background-color: rgba(47, 133, 167, 0.6);
}

.container-fluid.inner-top{
    background: rgba(5, 58, 78, 0.247);
    height: 55px;
    margin-bottom: 15px;
}



















